.selling {
  &__buttons {
    display: grid;
    max-height: 100%;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    .button_shape_rounded {
      height: auto;
      border-radius: 20px;
      padding: 10px;
      font-size: 0.9rem;
      @include media_screen(desktop-wide) {
        font-size: 1.25rem;
      }
    }
  }
  &__title {
    text-align: center;
    @include text-neon()
  }
}