.ad {
  &__filter {

  }
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 240px;
    grid-gap: 23px 30px;
    margin-bottom: 70px;
    @include on_tablet() {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media_screen(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media_screen(desktop-wide) {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
  }
  &__item {
    display: grid;
    grid-template-rows: 150px auto auto 25px;
    justify-items: center;
    align-items: center;
    padding: 15px 3px;
    background: rgba(14, 36, 62, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    &_pro {
      border: 2px solid #FFF;
      box-shadow: 0 0 6px 1px #7BD7FF,0 0 6px 1px #7BD7FF inset;
    }
    &_premium {
      border: 2px solid #FFF;
      box-shadow: 0 0 6px 1px #FFB800, 0 0 6px 1px #FFB800 inset;
    }
  }
  &__logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 10px;
    //max-height: 100px;
  }
  &__title {
    font-weight: bold;
    font-size: 15px;
  }
  &__caption {
    font-size: 14px;
  }
}
.ad-filter {
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  padding: 17px 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  align-items: center;
  @include on_tablet() {
    grid-template-columns: auto 1fr 1fr;
  }
  @include media_screen(desktop) {
    width: 100%;
    max-width: 970px;
    margin: 0 auto 25px auto;
  }
  &__select {
    background: rgba(14, 36, 62, 0.4);
    border: 1.5px solid #FFFFFF;
    border-radius: 10px;
    width: 100%;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
  }
  &__option {
    border: none;
    //background: rgba(14, 36, 62, 0.4);
    background: transparent;
    color: white;
    padding: 5px;
    &:hover {
      cursor: pointer;
      background: transparent;
    }
  }
}
