@import '~assets/scss/app/index.scss';
.ad {
  &__filter {

  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    //grid-auto-rows: 240px;
    grid-gap: 23px 30px;
    margin-bottom: 70px;
    @include landscape() {
      grid-template-columns: repeat(2, 1fr);
    }
    @include on_tablet() {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media_screen(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media_screen(desktop-wide) {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }

    &_private {
      grid-auto-rows: 140px;
      @include on_desktop() {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &_customer {
      @include on_desktop() {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &_building {
      @include on_tablet() {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    &_country {
      grid-auto-columns: 1fr;
      @include on_tablet() {
        grid-template-columns: 1fr;
      }
      @include on_desktop() {
        grid-template-columns: 1fr;
      }
    }
    &_eshop {
      @include on_tablet() {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    &_center {
      @include on_tablet() {
        grid-template-columns: 1fr 1fr;
      }
    }
    &_plant {
      grid-template-columns: 1fr;
      @include on_tablet() {
        grid-template-columns: 1fr 1fr;
      }
    }
  }


}

.ad-filter {
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  padding: 17px 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  align-items: center;
  @include landscape() {
    grid-template-columns: auto 1fr 1fr;
  }
  @include on_tablet() {
    grid-template-columns: auto 1fr 1fr;
  }
  @include media_screen(desktop) {
    width: 100%;
    max-width: 970px;
    margin: 0 auto 25px auto;
  }
  &__title {
    font-weight: bold;
    //@include landscape() {
    //  grid-column: span 2;
    //}
  }

  &__select {
    //background: rgba(14, 36, 62, 0.4);
    //border: 1.5px solid #fff;
    //border-radius: 10px;
    //width: 100%;
    //color: white;
    //padding: 5px 15px;
    //cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &__option {
    //border: none;
    //background: rgba(14, 36, 62, 0.4);
    //background: transparent;
    //color: white;
    //padding: 5px;
    //line-height: 3;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
      cursor: pointer;
      background: transparent;
    }
  }
}

//@import "ad_item";
@import "ad_modal";
