.card {
  box-shadow: 0 0 12px 1px #7bd7ff, 0 0 12px 1px #7bd7ff inset;
  border-radius: 12px;
  padding: 20px;
  &_value{
    @for $i from 1 to 12 {
      &_#{$i} {
        $value: #{$i * 2 + 1}px;
        box-shadow: 0 0 $value 1px #7bd7ff, 0 0 $value 1px #7bd7ff inset;
      }
    }
  }
}
