@import '~assets/scss/framework/basic';
$button-class: '.button';
#{$button-class}{
  --button-primary-color: var(--color-primary);
  --button-text-color: var(--color-primary);
  --border-color: #7BD7FF;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  font-weight: 700;
  border-radius: .1rem;
  user-select: none;
  padding: .1rem .5rem;
  //margin: 6px 8px;
  outline: none;
  border: none;
  height: 1.75rem;
  box-shadow: bottom-shadow(2), top-shadow(1);
  will-change: box-shadow;
  transition: box-shadow ease .2s;
  text-decoration: none;
  @include media_screen(desktop-wide) {
    padding: .1rem 1rem;
    height: 2.25rem;
  }
  &:hover{
    box-shadow: bottom-shadow(2), top-shadow(1);
  }
  &:focus{
     box-shadow: bottom-shadow(3, var(--button-primary-color)), top-shadow(2, var(--button-primary-color));
   }
  &:active{
    box-shadow: bottom-shadow(5, var(--button-primary-color)), top-shadow(4, var(--button-primary-color));
  }
  &_active {
    box-shadow: bottom-shadow(4, var(--button-primary-color)), top-shadow(2, var(--button-primary-color));
    @include text-neon()
  }

  //color
  &_primary {

  }
  &_secondary {
    --text-color: #ffb800;
    --border-color: #ffb800;
  }

  //size
  &_size{
    &_small{
      padding: 0 .5rem;
      font-size: .8rem;
      height: 1.75rem;
    }
    &_normal {
      font-size: 0.875rem;
    }
    &_big{
      padding: .3rem 2.5rem;
      font-size: 1.1rem;
      height: 3rem;
    }
    &_large{
      padding: .4rem 3rem;
      font-size: 1.6rem;
      height: 3.75rem;
    }
  }
  //shape
  &_shape{
    &_circle{
      border-radius: 50%;
      height: 56px;
      width: 56px;
      padding: 0;
      &#{$button-class}_size{
        &_small {
          width: 40px;
          height: 40px;
        }
       &_big {
          width: 72px;
          height: 72px;
        }
        &_large{
          width: 96px;
          height: 96px;
        }
      }
    }
    &_rounded{
      border-radius: 1.75rem;
    }
    &_semi_rounded {
      border-radius: 6px;
      min-height: 36px;
      @include media_screen(desktop-wide) {
        border-radius: 14px;
      }
    }
  }

  &_outline{
    --border-color: rgba(255, 255, 255, 0.81);
    color: white;
    background: rgba(34, 55, 87, 0.6);
    box-shadow: 0 0 2px 1px var(--border-color);
    &:hover{
      --border-color: #7BD7FF;
      @include text-neon();
      $shadow-value: 6px;
      box-shadow: 0 0 $shadow-value 2px var(--border-color), 0 0 $shadow-value 2px var(--border-color) inset;
    }
    &:active {
      --border-color: #7BD7FF;
      @include text-neon();
      $shadow-value: 8px;
      box-shadow: 0 0 ($shadow-value - 3) 3px var(--border-color), 0 0 $shadow-value 3px var(--border-color) inset;
    }
    &:focus {
      --border-color: #7BD7FF;
      @include text-neon();
      $shadow-value: 8px;
      box-shadow: 0 0 $shadow-value 1px var(--border-color), 0 0 $shadow-value 1px var(--border-color) inset;
    }
  }
  &_neon{
    color: white;
    text-shadow: 0 0 4px var(--text-color, white);
    border: 2px solid rgba(255, 255, 255, 0.85);
    background-color: rgba(14, 36, 62, 0.1);
    $shadow-value: 10px;
    box-shadow: 0 0 $shadow-value 1px var(--border-color), 0 0 $shadow-value 1px var(--border-color) inset;
    &:hover{
      $shadow-value: 12px;
      background-color: rgba(15, 98, 133, 0.1);
      box-shadow: 0 0 $shadow-value 2px var(--border-color), 0 0 $shadow-value 2px var(--border-color) inset;
    }
    &:active{
      $shadow-value: 14px;
      background-color: rgba(15, 98, 133, 0.1);
      box-shadow: 0 0 $shadow-value 2px var(--border-color), 0 0 $shadow-value 2px var(--border-color) inset;
    }
    &:focus {
      $shadow-value: 12px;
      background-color: rgba(15, 98, 133, 0.4);
      box-shadow: 0 0 $shadow-value 2px var(--border-color), 0 0 $shadow-value 2px var(--border-color) inset;
      @include text-neon()
    }
  }

  &__content{
    vertical-align: middle;
    font-size: inherit;
  }

  &_block {
    display: flex;
    width: 100%;
  }
}
.button__icon{
    padding: 5px;
  &_left {
    padding-right: 10px;
  }
  &_right {
    padding-left: 10px;
  }
}
