$container-padding: 8px;
.container {
  width: 100%;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-right: auto;
  margin-left: auto;
  &_full {
    max-width: 100%;
  }
  &_wide {
    width: 100%;
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;

    @include media_screen(tablet) {
      max-width: 700px;
    }
    @include media_screen(desktop) {
      max-width: 1100px;
    }
    @include media_screen(desktop-wide) {
      max-width: 1300px;
    }
  }

  @each $name,$width in $container-max-widths {
    @include media_screen($name) {
      max-width: $width;
    }
  }
}
