.text {
  &_neon {
    --neon-text-color: var(--primary-text-color);
    color: var(--neon-text-color);
    @include text-neon(1);
    @for $i from 1 through 5 {
      &_#{$i} {
        @include text-neon($i)
      }
    }
  }
  &_center {
    text-align: center;
  }
}
