html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  //font-family: 'Lato', sans-serif;
  font-family: 'Lato';
  color: white;
}
