@import "color_vars";
@import "variables";
@import "../framework/index";
:root{
  --color-red: #{map_get($baseColors, red)};
  --color-blue: #{map_get($baseColors, blue)};
  --color-white: #{map_get($baseColors, white)};
  --color-black: #{map_get($baseColors, black)};


  --color-primary: #{$color--primary};
  --color-success: #{$color--success};
  --color-error: #{$color--error};
  --color-warning: #{$color--warning};
  --color-info: #{$color--info};

  --primary-text-color: var(--color-white);

  --main-font-size: 1rem;
  --main-font-size_mobile: 12px;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  //font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif;
  color: var(--primary-text-color);
  font-size: var(--main-font-size_mobile);
  @include media_screen(desktop-wide) {
    font-size: var(--main-font-size)
  }
}
a{
  text-decoration: none;
  color: var(--primary-text-color);
  &:hover {
    @include text-neon();
  }
}

.body-scroll_lock {
  overflow: hidden;
  &_mobile {
    @include on_mobile() {
      overflow: hidden;
    }
  }
}
#__layout {
  @include on_mobile() {
    margin-top: 40px;
  }
}
@import "components/index";
@import "pages/index";
