@import "color_vars";
@import "variables";
@import "../framework/index";
:root{
  --color-primary: #{$color--primary};
  --color-success: #{$color--success};
  --color-error: #{$color--error};
  --color-warning: #{$color--warning};
  --color-info: #{$color--info};
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  //font-family: 'Lato', sans-serif;
  font-family: 'Lato';
  color: white;
  font-size: 12px;
  @include media_screen( desktop-wide) {
    font-size: 16px;
  }
}
a{
  text-decoration: none;
  color: white;
  &:hover {
    @include text-neon();
  }
}

.body-scroll_lock {
  overflow: hidden;
}
#__layout {
  @include on_mobile() {
    margin-top: 40px;
  }
}
@import "components/index";
