.grid {
  display: grid;
  @for $i from 1 through 12 {
    &_cols_#{$i} {
      display: grid;
      @include grid_columns($i);
      @each $name, $width in $screen-breakpoints {
        &_#{$name} {
          $type: min;
          @if $name == 'phone' {
            $type: max;
          }
          @include media_screen($name,$type) {
            display: grid;
            @include grid_columns($i);
          }
        }
      }
    }
  }
  @for $i from 1 through 12 {
    &_rows_#{$i} {
      display: grid;
      @include grid_rows($i)
    }
  }
}
.grid__column {
  @include make-grid-column();
  &_full {
    grid-column: 1/-1;
  }
  &_offset {
    @for $i from 1 through $grid-columns {
      &-#{$i} {
        @each $name, $width in $screen-breakpoints {
          &_#{$name} {
            $type: min;
            @if ($name == 'phone') {
              $type: max;
            }
            @include media_screen($name, $type) {
              grid-column-start: $i;
            }
          }
        }
        grid-column-start: $i;
      }
    }
  }
}

.grid-gap {
  @for $i from 1 through 24 {
    &_#{$i} {
      grid-gap: ($i * 2px);
    }
  }
}
.grid-row-gap {
  @for $i from 1 through 24 {
    &_#{$i} {
      grid-row-gap: ($i * 2px);
    }
  }
}
.grid-column-gap {
  @for $i from 1 through 24 {
    &_#{$i} {
      grid-column-gap: ($i * 2px);
    }
  }
}

.flex {
  display: flex;
}
