$need-dark-theme: true !default;
$need-contrast-theme: true !default;

//@import "color_vars";

$sp: .0625rem;

//minimal screen size breakpoints
$screen-breakpoints: (
        "phone": 400px,
        "phone-large": 576px,
        "tablet": 768px,
        "desktop": 1248px,
        "notebook": 1360px,
        "desktop-wide": 1440px,
        "desktop-fhd": 1920px
) !default;
//max size of container at every breakpoint
$container-max-widths: (
        "phone": 100%,
        "phone-large": 540px,
        "tablet": 720px,
        "desktop": 1140px,
        "notebook": 1140px,
        "desktop-wide": 1140px,
        "desktop-fhd": 1140px
) !default;

$grid-columns: 12 !default;
$grid-column-gap: 30px !default;
$grid-row-gap: 30px !default;

$shadow-max-depth: 12;

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
