.services{
  &__list{
    &_grid{
      display: grid;
      min-height: 255px;
      max-width: 100%;
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
      //grid-template-columns: repeat(3,1fr);
      grid-gap: 50px;
      padding: 34px 75px 44px 75px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 7.5rem;
      border: 1px solid white;
      background: rgba(0, 0, 0, 0.2);
      $shadow-value:15px;
      box-shadow: 0 0 $shadow-value 1px #7BD7FF, 0 0 $shadow-value 1px #7BD7FF inset;
    }
  }
}
.service__item{
  position: relative;
  &>svg{
    position: absolute;
    right: -25px;
  }
}
.service__title{
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 5px 15px;
}
