.services{
  &__title {
    text-align: center;
    @include text-neon()
  }
  &__list{
    &_grid{
      display: grid;
      align-items: center;
      min-height: 100px;
      max-width: 100%;
      //grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
      //grid-template-columns: repeat(3,1fr);
      grid-gap: 15px;
      padding: 2% 5%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4rem;
      border: 1px solid white;
      background: rgba(0, 0, 0, 0.2);
      $shadow-value:15px;
      box-shadow: 0 0 $shadow-value 1px #7BD7FF, 0 0 $shadow-value 1px #7BD7FF inset;
      @include media_screen(desktop-wide) {
        grid-gap: 30px;
        padding: 2% 10% 2% 10%;
        border-radius: 7.5rem;
        min-height: 255px;
      }
      @include media_screen(desktop-fhd) {
        grid-gap: 30px;
        padding: 34px 75px 44px 75px;
        border-radius: 7.5rem;
      }
      //&_8 {
      //  grid-column: span 8;
      //}
    }
  }
}
.service__item{
  position: relative;
  &>svg{
    position: absolute;
    right: -25px;
  }
  //&_8 {
  //  grid-column: span 8;
  //}
  //& > .service__footer >>> .button {
  //  font-size: .7rem;
  //  @include media_screen(tablet-wide) {
  //    font-size: 1rem;
  //  }
  //}
}

.service__icon {
  //display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  @include media_screen(desktop-wide) {
    height: 50px;
  }
  & > img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}
.service__title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .85rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 5px;
  height: 48px;
  @include media_screen(desktop-wide) {
    font-size: 1rem;
    padding: 5px 15px;
  }
}
.service__footer {
  display: flex;
  justify-content: center;
}
.button {
   font-size: .7rem;
   height: 20px;
   width: 100%;
   @include media_screen(desktop-wide) {
     font-size: 1rem;
     height: auto;
   }
 }
