.services{
  &__title {
    text-align: center;
    margin: 5px 0;
    @include text-neon();
    @include media_screen(desktop-wide) {
    }
  }
  &__list{
    &_grid{
      display: grid;
      align-items: center;
      min-height: 100px;
      max-width: 100%;
      grid-gap: 15px;
      padding: 1% 5%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 3rem;
      $shadow-value:7px;
      @include on_tablet() {
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid white;
        border-radius: 7.5rem;
        $shadow-value:15px;
        box-shadow: 0 0 $shadow-value 1px #7BD7FF, 0 0 $shadow-value 1px #7BD7FF inset;
      }
      @include media_screen(desktop-wide) {
        grid-gap: 30px;
        padding: 2% 10% 2% 10%;
        border-radius: 7.5rem;
        min-height: 255px;
      }
      @include media_screen(desktop-fhd) {
        grid-gap: 30px;
        padding: 34px 75px 44px 75px;
        border-radius: 7.5rem;
      }
      &_2_cols {
        padding: 2% 5%;
        border-radius: 4rem;
        @include media_screen(desktop-fhd) {
        }
      }
    }
  }
}
.service__item{
  position: relative;
  @include on_mobile() {
    justify-self: center;
    width: 250px;
  }
  &>svg{
    position: absolute;
    right: -25px;
  }
}

.service__icon {
  //display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  @include on_tablet() {
    height: 30px;
  }
  @include media_screen(desktop-wide) {
    height: 50px;
  }
  & > img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}
.service__title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .85rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 5px;
  height: 48px;
  @include media_screen(desktop-wide) {
    font-size: 1rem;
    padding: 5px 15px;
  }
}
.service__footer {
  display: flex;
  justify-content: center;
}
.button {
   font-size: .7rem;
   height: 20px;
   width: 100%;
   @include media_screen(desktop-wide) {
     font-size: 1rem;
     height: auto;
   }
 }
