@mixin grid_columns($number:1) {
  display: grid;
  grid-template-columns: repeat($number, 1fr);
}

@mixin grid_rows($number:1) {
  display: grid;
  grid-template-rows: repeat($number, 1fr);
}

@mixin make-grid-column($grid-columns: 12, $screen-breakpoints:$screen-breakpoints) {
  @for $i from 1 through $grid-columns {
    &_#{$i} {
      grid-column: span $i;
    }
  }
  @for $i from 1 through $grid-columns {
    &_#{$i} {

      @each $name, $width in $screen-breakpoints {
        //@if ($name == 'phone') {
        //  grid-column: span $i;
        //} @else {
        &-#{$name} {
          $type: min;
          @if ($name == 'phone') {
            $type: max;
          }
          @include media_screen($name, $type) {
            grid-column: span $i;
          }
        }
      }
      //@include media_screen(phone) {

      //}

    }
  }
}

@mixin grid_resp($min: 200px, $fit: auto-fit, $max: 1fr) {
  grid-template-columns: repeat($fit, minmax($min, $max));
}
