.circle__container {
  z-index: 1;
  //margin: 30px auto 0 auto;
  top: calc( (3vh - 50px) / 2);
  @include media_screen(tablet, max) {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    //grid-auto-rows: 80px;
    justify-items: center;
  }
  @include media_screen(desktop){
    @include on-circle($item-count: 13, $circle-size: 410px, $item-size: 72px, $rotate: -90);
    box-shadow: 0 0 6px 1px rgba(123, 215, 255, 0.6), 0 0 6px 1px rgba(123, 215, 255, 0.6) inset;
  }
  @include media_screen(desktop-wide){
    @include on-circle($item-count: 13, $circle-size: 480px, $item-size: 88px, $rotate: -90);
    top: 0;
  }
  @include media_screen(desktop-fhd){
    @include on-circle($item-count: 13, $circle-size: 590px, $item-size: 106px, $rotate: -90);
  }
  @media only screen and (max-width: 1290px) and (min-height: 810px) and (orientation: landscape) and (min-width: 900px) {
    @include on-circle($item-count: 13, $circle-size: 640px, $item-size: 116px, $rotate: -90);
  }
}
.circle__wrapper {
  display: flex;
  flex-direction: column-reverse;
  @include media_screen(desktop) {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
.circle__center {
  //max-width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  padding: 15px 20px;
  //border: 1px solid red;
  @include media_screen(desktop) {
    z-index: 2;
    position: absolute;
    //top: calc( ((320px - 25vh) - 75px) * 0.75);
    top: calc(50% +  calc( (3vh - 50px) / 2));
    margin-top: -160px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
  }
  @include media_screen(desktop-wide){
    //top: 0;
    //top: 10%;
    top: 50%;
    //bottom: 50%;
    margin-top: -221px;
    width: 442px;
    height: 442px;
    padding: 35px;
  }
  @include media_screen(desktop-fhd){
    //top: 0;
    top: 50%;
    margin-top: -250px;
    width: 500px;
    height: 500px;
  }
  @media (max-width: 1290px) and (min-height: 810px) and (orientation: landscape) and (min-width: 900px) {
    top: 50%;
    margin-top: -200px;
    width: 400px;
    height: 400px;
  }
}
