.menu {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: 'logo . menu';
    padding: 5px;
    @include media_screen(desktop) {
      grid-template-areas: 'logo . menu';
      /*grid-template-columns: 365px auto 365px;*/
      grid-template-columns: 1fr minmax(auto, 1fr) 1fr;
    }
    @include on_mobile() {
      position: fixed;
      top: 0;
      background-color: #2161bcdd;
      z-index: 10;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    grid-area: logo;
    color: white;
    text-decoration: none;
  }
  &__button_burger {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 20px;
    width: 50px;
    height: 50px;
    //background-color: #3f51b5;
    border-radius: 3px;
    padding: 5px;
    @include on_desktop() {
      /*display: flex;*/
      display: none;
    }
    &-line,&-line::before,&-line::after {
      display: block;
      position: absolute;  width: 100%;
      //height: 2px;  background-color: #616161;
      height: 2px;  background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 10px 3px #7BD7FF;
    }
    &-line {
      &::before {
        content: '';
        top: -16px;
      }
      &::after {
        content: '';
        top: 16px;
      }
    }
    &_active {
      span {
        &::before {

        }
      }
    }
  }
  &__list {
    width: 100%;
    grid-area: menu;
    //display: none;
    display: flex;
    visibility: hidden;
    justify-content: space-between;
    align-self: center;
    justify-self: flex-end;
    //padding: 15px 15px 15px 25px;
    padding: 15px 5px 15px 5px;
    @include on_mobile(){
      position: fixed;
      flex-direction: column;
      transition: all 0.3s ease;
      width: 100%;
      top: 65px;
      left: 0;
      min-height: 50vh;
      transform: translateY(-100%);
      background-color: #2161bcdd;
      opacity: 0;
    }
    @include on_desktop() {
      //display: flex;
      visibility: visible;
    }
    &_show {
      @include on_mobile() {
        //display: flex;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  &__item {
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    @include on_mobile() {
      text-align: center;
      @include text-neon();
    }
    @include on_tablet() {
      font-size: 0.9rem;
    }
    /*@include media_screen(desktop-wide) {
      font-size: 1.25rem;
    }*/
    &:hover {
      @include text-neon();
    }
    &_mobile {
      @include on_tablet() {
        display: none;
      }
    }
    &-user {
      display: flex;
      flex-direction: column;
    }
    &-logout {
      font-size: .8rem;
      //color: $color--primary;
      cursor: pointer;
      align-self: flex-end;
      &:hover {
        @include text-neon()
      }
    }
  }
  &__username {
    flex-basis: 60%;
  }
}
.logo {
  font-size: 1.375rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(14, 36, 62, 0.4);
  border: 2px solid #ffffff;
  box-shadow: 0 0 4px 1px #7bd7ff, 0 0 4px 1px #7bd7ff inset;
  /*filter: drop-shadow(0 0 2px white);*/
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.72),
  0 0 1em rgba(255, 255, 255, 0.71);
  &__title {
    //display: none;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 10px 15px;
    /*@include media_screen(desktop) {
      display: block;
    }*/
    @include on_tablet() {
      font-size: 1.625rem;
    }
  }
}
